:root {
  --mainRed: #ee2929;
  --lightRed: #df1717d3;
  --mainWhite: #fff;
  --mainDark: #232528;
}

body {
  font-family: "Roboto", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Oswald", sans-serif;
  padding-bottom: 1rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-red {
  color: var(--lightRed);
}

.text-bright {
  color: var(--lightRed);
}

.shop1 {
  font-size: 0.8rem;
}

.shop1:hover {
  color: var(--mainRed);
  transition: all 0.3s linear;
  cursor: pointer;
}

.shop2 {
  font-size: 0.8rem;
}

.shop2:hover {
  color: var(--mainRed);
  transition: all 0.3s linear;
  cursor: pointer;
}

.shop3 {
  font-size: 0.8rem;
}

.shop3:hover {
  color: var(--mainRed);
  transition: all 0.3s linear;
  cursor: pointer;
}

.shop4 {
  font-size: 0.8rem;
}

.shop4:hover {
  color: var(--mainRed);
  transition: all 0.3s linear;
  cursor: pointer;
}

.men {
  margin-top: -0.5rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  cursor: pointer;
}

.women {
  margin-top: -0.5rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  cursor: pointer;
}

.boys {
  margin-top: -0.5rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  cursor: pointer;
}

.girls {
  margin-top: -0.5rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  cursor: pointer;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainRed);
}
